.App {
  text-align: center;
  width: 700px;
  margin-left: 330px;
}
.container{
  background-color: rgb(12, 12, 12);
  width: 200px;
}
.pho{
  margin-bottom: 50px;
  border-bottom: solid 2px rgb(5, 236, 186);
}
.info{
  margin-top: 30px;
  color:rgb(5, 236, 186) ;
  font-family: fantasy;
}
.info :hover{
  text-decoration-line: underline;
}

